#passwords-admin red {
	color: #a00;
	line-height: 3;
}
#passwords-admin orange {
	color: #c80;
	line-height: 3;
}
#passwords-admin green {
	color: #0a0;
	line-height: 3;
}
#passwords-admin h3 {
	margin-bottom: 5px;
}
#passwords-admin .https_warning {
	color: #a00;
	opacity: 1;
}
#passwords-admin .descr {
	margin-bottom: 10px;
}
#passwords-admin .radiotext {
	margin-left: 5px;
}
#passwords-admin .linkDDG:hover {
	text-decoration: underline;
	cursor: pointer;
}
#passwords-admin .fieldDays {
	width: 30px !important;
	text-align: center;
}
#passwords-admin .msg-passwords,
#passwords-personal .msg-passwords {
	padding: 3px;
}
#passwords-admin .msg_error,
#passwords-personal .msg_error {
	background-color: #a00;
	color: #fff;
}
#passwords-admin .msg_success,
#passwords-personal .msg_success {
	background-color: #0a0;
	color: #fff;
}
#passwords-personal #timer ,
#passwords-personal #auth_timer{
	width: 30px;
	text-align: center;
}
#passwords-personal #timersettext {
	display: none;
}
#passwords-personal #div_master_password,
#passwords-personal #div_extra_auth_password {
	margin-left: 30px;
}
#passwords-personal #old_masterkey,
#passwords-personal #new_masterkey1,
#passwords-personal #new_masterkey2 {
	width: 200px;
}
#passwords-personal .hide_old_pass,
#passwords-personal #div_master_password {
	display: none;
}
#passwords-personal #master_reset {
	display: none;
	position: fixed;
	width: 30%;
	left: 35%;
	top: 35%;
	background: #fff;
	border: 1px solid #999;
	text-align: center;
	border-radius: 5px;
	padding-top: 25px;
	padding-bottom: 25px;
}
#passwords-personal hr {
	width: 100%;
	border: 0;
	color: #ddd;
	background-color: #ddd;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
}
